#root {
  width: 100%;
}

#game {
  margin: 0 auto;
  width: fit-content;
}

th {
  font-size: min(5vw, 2.5vh);
}

td {
  border: 1px solid black;
  min-width: min(14vw, 7vh);
  height: min(14vw, 7vh);
}

td.selected {
  border: 1px solid red;
}

#numberButtons {
  margin: 0 auto;
  width: fit-content;
}

#numberButtons button {
  font-size: min(10vw, 5vh);
  min-width: min(14vw, 7vh);
  height: min(14vw, 7vh);
}

.value {
  margin: 0 auto;
  width: fit-content;
  font-size: min(10vw, 5vh);
}

.option {
  font-size: min(4.5vw, 2.25vh);
}