#root {
  width: 100%;
}

#game {
  margin: 0 auto;
  width: fit-content;
}

th {
  font-size: 7.5vw;
}

td {
  border: 1px solid black;
  min-width: 10vw;
  height: 10vw;
}

td.selected {
  border: 1px solid red;
}

#numberButtons {
  margin: 0 auto;
  width: fit-content;
}

#numberButtons button {
  font-size: 7.5vw;
  min-width: 10vw;
  height: 10vw;
}

.value {
  margin: 0 auto;
  width: fit-content;
  font-size: 7.5vw;
}

.option {
  font-size: 2vw;
}