#root {
  width: 100%;
}

#game {
  margin: 0 auto;
  width: fit-content;
}

td {
  border: 1px solid black;
  min-width: 2em;
  height: 2em;
}

td.selected {
  border: 1px solid red;
}

#numberButtons {
  margin: 0 auto;
  width: fit-content;
}

#numberButtons button {
  font-size: 16pt;
}

.value {
  font-size: 16pt;
}

.option {
  font-size: 8pt;
}